services:
  monoserver-nginx-main: # [monoserver] Should not change name `monoserver-nginx-main`
    image: nginx:1.27.3
    ports:
    - "80:80"
    volumes:
    - type: bind
      source: ./nginx/nginx.conf
      target: /etc/nginx/nginx.conf
      read_only: true
    - type: bind
      source: ./nginx/routes.conf
      target: /etc/nginx/routes.conf
      read_only: true

  hello:
    image: hashicorp/http-echo
    command: ["-text=Hello from http-echo container!"]
    x-monoserver-port: "5678"

  whoami:
    image: traefik/whoami
    x-monoserver-port: "80"

  happy-server:
    build: kimkun07/happy-server-selfhost:latest
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - PORT=3000
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/happy-server
      - REDIS_URL=redis://redis:6379
      - HANDY_MASTER_SECRET=your-seed-for-token-generation
      - S3_HOST=minio
      - S3_PORT=9000
      - S3_USE_SSL=false
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_BUCKET=happy
      - S3_PUBLIC_URL=http://minio:9000/happy
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully

  migrate:
    build: kimkun07/happy-server-selfhost:latest
    command: yarn prisma migrate deploy
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/happy-server
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./prisma:/app/prisma
 
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_DB=happy-server
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
 
  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
 
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    # Include if you want to access the admin console
    # ports:
      # - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  minio-init:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      mc alias set myminio http://minio:9000 minioadmin minioadmin;
      mc mb myminio/happy || true;
      mc anonymous set download myminio/happy;
      exit 0;
      "

volumes:
  postgres_data:
  redis_data:
  minio_data:
