services:
  monoserver-nginx-main: # [monoserver] Should not change name `monoserver-nginx-main`
    image: nginx:1.27.3
    ports:
    - "80:80"
    volumes:
    - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    - ./nginx/conf.d:/etc/nginx/conf.d:ro

  hello:
    image: hashicorp/http-echo
    command: ["-text=Hello from http-echo container!"]
    x-monoserver-default-port: "5678"

  whoami:
    image: traefik/whoami
    x-monoserver-default-port: "80"

  echotest:
    image: hashicorp/http-echo
    command: ["-text=Test service for GitHub Actions auto-commit"]
    x-monoserver-default-port: "5678"
