services:
  monoserver-nginx-main: # [monoserver] Should not change name `monoserver-nginx-main`
    image: nginx:1.27.3
    ports:
    - "80:80"
    volumes:
    - type: bind
      source: ./nginx/nginx.conf
      target: /etc/nginx/nginx.conf
      read_only: true
    - type: bind
      source: ./nginx/routes.conf
      target: /etc/nginx/routes.conf
      read_only: true

  hello:
    image: hashicorp/http-echo
    command: ["-text=Hello from http-echo container!"]
    x-monoserver-default-port: "5678"

  whoami:
    image: traefik/whoami
    x-monoserver-default-port: "80"
